html{
  background-color: lightgrey;
}

body {
  background-color: white;
  width: 85%;
  margin: auto;
  padding: 10px;
}
header{
  height: 100px;
  background-color: lightskyblue;
  background-image: url(img/pattern.png);
  background-repeat: repeat-x;
  background-size: 300px ;
}
header img {
  height: 40px;
  margin-top: 63px;
}
h1 {
  font-weight: bolder;
  font-size: 24pt;
}
h4{
  color: lightgray;
  font-weight: lighter;
}
h4 span {
  color: lightskyblue;

}

h5 {
  font-size: 8pt;
  color: lightgray;
  font-weight: lighter;
  margin-top: 1px;
}

figcaption {
  font-size: 10pt;
}
