* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}

html{
  background-color: lightgrey;
}

#titolo-grande{
  margin-bottom: 30px;
}

body {
  background-color: white;
  width: 85%;
  margin: auto;
  padding: 10px;
}
header{
  height: 100px;
  background-color: lightskyblue;
  background-image: url(img/pattern.png);
  background-repeat: repeat-x;
  background-size: 300px ;
}
header img {
  height: 40px;
  margin-top: 63px;
}
h1 {
  font-weight: bolder;
  font-size: 24pt;
}
h4{
  color: lightgray;
  font-weight: lighter;
}
h4 span {
  color: lightskyblue;

}
h5 {
  font-size: 8pt;
  color: lightgray;
  font-weight: lighter;
  margin-top: 1px;
}

figcaption {
  font-size: 10pt;
}

.articolo p span {
  background-color: yellow;
}

#list {
  margin-left: 10px;
}

.articolo, #list, table {
  margin-top: 40px;
}
thead td {
  width: 20%;
  background-color: lightskyblue;
  font-weight: bold;
  color: white;
}

tr {
  height: 10px;
}

.tab-azzurra {
  background-color: lightblue;
}

#ultimo-paragrafo {
  margin-top: 20px;
}

footer {
  margin-top: 20px;
}

#ultimo-paragrafo h4 {
  margin-top: 20px;
}

.immagine1 {
  background-image: url(img/monitor.jpg);
  background-size: cover;
  width: 250px;
  height: 200px;
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.immagine2 {
  margin-top: 3px;
  background-image: url(img/graph.jpg);
  background-size: cover;
  width: 250px;
  height: 200px;
  font-size: 21px;
  font-weight: bold;
  color: white;
}
